@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "DM Sans", sans-serif;

  --color-purpleone: hsl(254, 88%, 90%);
  --color-purpletwo: hsl(256, 67%, 59%);
  --color-yelowone: hsl(31, 66%, 93%);
  --color-yelowtwo: hsl(39, 100%, 71%);
  --font-light: 400;
  --font-gross: 500;
}

* {
  font-family: "DM Sans", sans-serif;
}
